*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
}
.container{
    max-width: 1024px;  
    width: 100%;
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
.header-logo {
    max-width: 55px;
    max-height: 45px;
    display: inline-block;
}
.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul.menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu-list li a{
    font-size: 18px;
    line-height: 22px;
    color: black;
    text-decoration: none;
    padding-left: 20px;
}
.videobanner-block {
    position: relative;
    margin-top: 75px;
}
.video-fail{
    width: 100%;
    height: calc(100vh - 75px);
    overflow: hidden;
    display: inline-block;   
}
.video-fail video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-data{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    max-width: 1024px;  
    width: 100%;
    margin: 0 auto;
}
.video-data .hub-light-logo{
    max-width: 280px;
    max-height: 60px;
    display: inline-block;
    margin-top: 220px;
}
.video-data .hub-light-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 45px;
}
.video-data .hub-page-title{
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    text-align: left;
    margin-top: 30px;
}
.videobanner-block img{
    color: #fff;
}
.hub-detail{
    padding: 76px 0 55px 0;
}
.hub-detail .hub-details{
    font-size: 28px;
    line-height: 36px;
}
.hub-detail a{
    font-size: 24px;
    line-height: 28px;
    color: #282828;
}
.hub-background {
    background-image: url(/hub/assets/hub-bacckgound.png);
    background-color: #2a2a27;
    background-size: cover;
    background-position: 50% 50%;
    height: 300px;
    background-attachment: fixed;
}
.dark-section {
    background-color: #2a2a27;
}
.dark-section  .dark-title{
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    padding: 56px 0 0;
    margin: 0;
}
.dark-section  .dark-detail{
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    padding: 20px 0;
    margin: 0;
}
.dark-section a{
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}
.dark-section .dark-img{
    max-width: 1004px;
    max-height: 565px;
    display: inline-block;
}
.dark-section .dark-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 56px 0 0;
}
.dark-section .dark-img-detail{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 0 0 56px;
}
.hub-background-black{
    background-image: url(/hub/assets/hub-background-black.svg);
    background-color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    height: 300px;
    background-attachment: fixed;
}
.light-section .light-title{
    font-size: 40px;
    line-height: 60px;
    padding: 56px 0 0;
    margin: 0;
}
.light-section .light-detail{
    font-size: 28px;
    line-height: 36px;
    padding: 20px 0;
    margin: 0;
}
.light-section .light-img{
    max-width: 1366px;
    max-height: 890px;
    display: inline-block;
}
.light-section .light-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 56px 0;
}
.project{
    padding: 0 0 56px;
}
.project .project-info{
    padding: 56px 0 20px;
}
.project .project-title{
    font-size: 40px;
    line-height: 60px;
    color: #000;
    margin: 0;
}
.project .project-img{
    max-width: 320px;
    max-height: 220px;
    display: inline-block;
}
.project .project-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .project-file-title{
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    padding: 12px 0 8px;
}
.project .project-file-detail{
    font-size: 18px;
    line-height: normal;
    color: #000;
    text-decoration: none;
    margin: 0 0 20px;
    padding: 0;
}
.project .more-project{
    font-size: 24px;
    line-height: 24px;
    color: #282828;
}
.project-colum{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}
.green-section{
    background-color: #6a7435;
    padding: 56px 0;
}
.green-section .section-title{
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: #fff;
    padding: 0 0 10px;
    margin: 0;
}
.text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    padding: 16px 0;
}
.text .section-text{
    font-size: 32px;
    line-height: normal;
    color: #fff;
    margin: 0;
    padding: 0;
}
.text .text-detail{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    padding: 10px 0;
}
.text .more-detail{
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    padding: 10px 0 0;
}
.text-row .text-img{
    max-width: 185px;
    max-height: 250px;
    display: inline-block;
}
.text-row .text-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.green-section .more-news{
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    text-transform: capitalize;
}
footer {
    background-color: #000;
}
footer .hub-link{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px 100px;
}
footer .footer-img{
    max-width: 60px;
    max-height: 50px;
    display: inline-block;
}
footer .footer-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .footer-media{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
footer .link{
    color: #fff;
}
@media only screen and (max-width: 991px){
    .container{
        max-width: 820px;
        padding: 0 10px;
    }
    .hub-light-logo {
        display: flex;
        padding: 275px 0 0;
    }
    .video-data .logo-detail{
        padding: 270px 0 0;
    }
    .hub-detail .hub-details {
        font-size: 20px;
        line-height: 36px;
    }
    .hub-detail .hub-details br{
        display: none;
    }
    .hub-detail {
        padding: 56px 0;
    }
    .dark-section .dark-detail {
        font-size: 20px;
        line-height: 36px;
    }
    .light-section .light-title {
        padding: 56px 0 20px;
    }
    .light-section .light-detail{
        font-size: 20px;
    }
    .light-section .light-detail br{
        display: none;
    }
    .project .project-img{
        max-width: 250px;
        max-height: 170px;
    }
    .project .project-file-detail br{
        display: none;
    }
}
@media only screen and (max-width: 1199px){
    .container{
        max-width: 1180px;
        padding: 0 80px
    }
    .logo-detail {
        padding: 150px 0 0;
    }
    .text .text-detail br{
        display: none;
    }
    .text .section-text br{
        display: none;
    }
    .green-section{
        padding: 56px 10px;
    }
}


